<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.arndbrugman.huewi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>hueWI</name>
    <description>
        hueWI is the quick way to directly set the mood for yout Philips hue Connected Lighting 
    </description>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="KeepRunning" value="false"/>
    <preference name="android-manifest/application/activity/@android:theme" value="@android:style/Theme.Black.NoTitleBar"/>
    <preference name="BackgroundColor" value="0x00000000" />
    <icon src="./www/assets/img/huewi_logo.png" />
    <author email="arndbrugman@gmail.com" href="https://github.com/ArndBrugman/huewi">
        Arnd Brugman
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-custom-config" spec="~3.1.2" />
</widget>
